git+https://github.com/lykos98/dadaC.git#egg=dadac
matplotlib==3.6.2
numpy==1.24.2
pandas==1.5.2
pytorch_lightning==1.9.5
PyYAML==6.0
scikit_learn==1.2.0
scipy==1.16.3
torch==2.0.0
torchvision==0.15.1
umap_learn==0.5.3
